<div class="container">

  <center><h1>Twitter Clone</h1></center>

  <br>
  <center><h2><%= current_user.username %>'s Profile</h2>
  <h4>Tweets: <%= current_user.tweets.length %> |
  Followers: <%= current_user.followees.length %> |
  Following: <%= current_user.followings.length %></h4>

  <a href="/tweets/new">Create a tweet!</a>
  <a href="/users/index">Users</a></center>

  <h3>Tweets:</h3>
  <% @tweets.each do |tweet| %>
    <p><%= tweet.content %>
    - <%= tweet.user.username %>
    </p>

  <% end%>

  <br>
  <br>
  <a href= "/users/logout"> Log Out </a>

</div>
