<div class="container">

  <center><h1>Twitter Clone</h1></center>

  <br>
  <center><h2><%= current_user.first_name %>'s Profile</h2>
  <h4>Tweets: <%= current_user.tweets.length %>
  Followers: <%= current_user.followers.length %>
  Following: <%= current_user.followed_users.length %></h4></center>

  <a href="/tweets/new">Create a tweet!</a>

  <h3>Tweets:</h3>
  <% current_user.tweets.each do |tweet| %>
    <p><%= tweet.content %></p>
  <% end%>

  <br>
  <a href= "/users/logout"> Log Out </a>

</div>
